services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app        # mount project
      - /app/node_modules      # do NOT overwrite node_modules
    environment:
    - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./.env
    tty: true
    stdin_open: true
