
services:
  server:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app        # mount project
      - ./questions:/questions
      - ./FIREBASE_CRED.json:/FIREBASE_CRED.json
  code_sandbox:
    build: 
      context: ./code_sandbox
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 8080:8080
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app        # mount project
      - /app/node_modules      # do NOT overwrite node_modules
    environment:
    - CHOKIDAR_USEPOLLING=true
    env_file:
      - ./frontend/.env
    tty: true
    stdin_open: true



