
services:
  server:
    build:
      context: ./backend
      dockerfile:  Dockerfile
    env_file:
      - .env
    ports:
      - 8000:8000
    volumes:
      - ./questions:/questions
      - ./FIREBASE_CRED.json:/FIREBASE_CRED.json
  code_sandbox:
    build: 
      context: ./code_sandbox
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 8080:8080
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env
    ports:
    - 5173:80


