services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - ./.env
    ports:
      - 8000:8000
    volumes:
      - ../backend:/app
      - ../questions:/questions
      - ../FIREBASE_CRED.json:/FIREBASE_CRED.json
